.numberSpace {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    letter-spacing: 20px;
}

.numberA {
    width: 30vw;
    height: 150px;
}

.numberB {
    width: 30vw;
    height: 150px;
}